.App{
  display: flex;
}

.sidebar{
  background-color: midnightblue;
  width: 16%;
  height: 100vh;
  color: aliceblue;
}

.option{
  display: flex;
  justify-content: space-between;
  margin: 5% 5%;
}

.screen{
  display: flexbox;
  width: 84%;
  height: 100vh;
  background-color: rgb(201, 246, 255);
}

.top{
  display: flex;
  justify-content: space-between;
  margin: 10px 40px;
  padding: 10px 0px;
}

.greet{
  margin: 20px;
  font-weight: 600;
  font-size: 24px;
}

.cards{
  display: flex;
  justify-content: space-between;
  margin: 10px 40px;
}

.card{
  background-color: white;
  border-radius: 10px;
  padding: 1% 0%;
  width: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image{
  width: 100px;
  height: 95px;
}

.card > .image{
  display: inline-block;
}

.data{
  display: inline-block;
  text-align: left;
}

.name{
  color: grey;
  font-weight: bold;
}
.cost{
  font-size: 24px;
  font-weight: bolder;
}
.growth{
  color: red;
  font-size: 14px;
}

.overview{
  align-self: stretch;
  background-color: white;
  margin: 20px 20px 20px 40px;
  border-radius: 20px;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 5fr;
  justify-content: space-between;

}

.header, .timeframe{
  padding: 20px;
  grid-row: 1fr;
}
.header{
  justify-self: start;

}
.timeframe{
  justify-self: end;
}

.earning{
  padding: 20px;
  grid-row: 2fr;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.earning > .month{
  max-width: 50px;
  align-self: stretch;
  justify-self: stretch;
  display: grid;
  grid-template-rows: 5fr 1fr;
  text-align: center;
}

.bar{
  background-color: rgb(197, 197, 222);
  border-radius: 10px;
  grid-row: 5fr;
}

.customers{
  align-self: stretch;
  background-color: white;
  border-radius: 20px;
  margin: 20px 40px 20px 20px;
  padding: 40px 20px;
}

header{
  font-size: larger;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: steelblue;
  opacity: .8;
  width: 100%;
  height: 36px;
  padding-left: 10px;
  border-radius: 7px;
  margin: 5px -30px;
  text-align: center;

}

input{
  width: 20vw;
  height: 5vh;
  border-radius: 5px;
}

button{
  width: 5%;
  height: 5vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
